@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #03A6A6;
    --secondary-color: #000000;
    --tertiary-color: #FFFFFF;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1490px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--secondary-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}


.col-50 {
    width: 50%;
    padding: 0 15px;
}

.col-5 {
    width: 50%;
    padding: 0 15px;
}



.title-2 {
    font-size: 60px;
    font-weight: 500;
    line-height: calc(60/60);
    margin: 15px 0 31px;
    text-transform: capitalize;
}

.primary-btn {
    padding: 23px 27px 22px;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.secondary-btn {
    padding: 22px 30.5px 23px;
    font-size: 15px;
    background: var(--tertiary-color);
    border-radius: 50px;
    letter-spacing: 3px;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}

.secondary-btn span {
    position: relative;
    z-index: 2;
    transition: 1s linear;
}

.primary-btn span {
    position: relative;
    z-index: 2;
}

.primary-btn::after,
.secondary-btn::after {
    content: "";
    /* height: 10px; */
    width: 10px;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 2s linear;
}

.primary-btn:hover::after,
.secondary-btn:hover::after {
    transform: scale(100);
}

.secondary-btn:hover span {
    color: var(--tertiary-color);
}



/* 
######################################################
Header Section 
######################################################
*/

.header-sec {
    padding: 15px 0;
    position: sticky;
    top: 0;
    background: var(--tertiary-color);
    z-index: 5;
    box-shadow: 0px 10px 15px #00000017;
}

.nav-logo a {
    width: 218px;
}

.nav-logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav,
.navbar-collapsed,
.navbar-collapsed ul,
.navbar-btn {
    display: flex;
    align-items: center;
}

.navbar-collapsed {
    flex-grow: 1;
}


.navbar-collapsed ul {
    margin-left: auto;
}

.nav-item {
    margin-right: 36px;
}


.nav-link {
    transition: 0.3s linear;
}

.nav-link:hover,
.active,
.log-in-btn:hover {
    color: var(--primary-color);
}


.navbar-btn>a.primary-btn {
    margin-left: 36px;
}

.navbar-collapsed a {
    font-size: 15px;
}

.navbar-btn a:first-child span {
    font-weight: 600;
    transition: 0.3s linear;
}

nav .primary-btn {
    letter-spacing: 3px;
}

.menu-bar {
    display: none;
}

.sm-call-icon {
    display: none;
}



/* 
######################################################
Banner Section 
######################################################
*/
.banner-sec {
    min-height: 100vh;
    background: url("../assets/banner-gif.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 58%);
    background-blend-mode: darken;
}

.title-1 {
    color: var(--tertiary-color);
    font-size: 72px;
    font-weight: 500;
    line-height: calc(72/72);
}

.banner-wrapper .title-1 {
    max-width: 581px;
}

.banner-wrapper p {
    color: var(--tertiary-color);
    max-width: 597px;
    font-size: 16px;
    font-style: italic;
    line-height: calc(24/16);
    margin: 26px 0 36px;
    font-weight: 300;
}

.banner-wrapper .banner-btn {
    display: flex;
    align-items: center;
}


.banner-btn .primary-btn span {
    color: var(--tertiary-color);
}

.banner-btn .primary-btn {
    border: 1px solid var(--tertiary-color);
    text-transform: capitalize;
    margin-left: 18px;
}

.sm-navbar-btn {
    display: none;
}




/* 
######################################################
Support Section
######################################################
 */
.support-sec {
    padding: 120px 0;
}

.support-img {
    /* max-width: 745px; */
    position: relative;
}

.support-img::after {
    content: "";
    width: 335px;
    height: 335px;
    background: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(500px);
    z-index: -1;
}

.support-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.support-row {
    align-items: center;
}


.support-content {
    max-width: 497px;
}

.sub-title {
    font-size: 16px;
    font-weight: 500;
    /* line-height / font-size */
    line-height: calc(30/16);
    letter-spacing: 6.4px;
    text-transform: uppercase;
}


.support-content .title-2 {
    max-width: 380px;
    font-size: 60px;
    font-weight: 500;
    line-height: calc(60/60);
    margin: 15px 0 31px;
}

.support-content p {
    /* max-width: 496px; */
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24/16);
}

.support-content .secondary-btn {
    border: 1px solid var(--secondary-color);
    margin-top: 33px;
}





/*
######################################################
 who We Are Section
######################################################
 */
.who-we-are-sec {
    padding: 281px 0;
    border-radius: 0 0 11.979vw 11.979vw;
    background: url("../assets/who-we-are-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--tertiary-color);
    position: relative;
}

.who-we-are-wrapper {
    max-width: 497px;
}

.who-we-are-wrapper::after {
    content: "";
    width: 335px;
    height: 335px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    bottom: -80px;
    transform: translate(-50%);
    background: var(--primary-color);
    filter: blur(250px);
    z-index: -1;
}

.who-we-are-sec .title-2 {
    max-width: 404px;
    font-size: 60px;
    font-weight: 500;
    line-height: calc(60/60);
    margin: 15px 0 31px;
}

.who-we-are-sec p {
    max-width: 496px;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24/16);
}

.who-we-are-wrapper .primary-btn {
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    margin-top: 33px;
}





/* 
######################################################
Future Section 
######################################################
*/
.future-sec {
    padding: 120px 0;
}

.future-wrapper .title-2 {
    text-align: center;
}

.future-wrapper p {
    max-width: 835px;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24/16);
    text-align: center;
    margin: 0 auto 51px;
}

.future-img {
    max-width: 1212px;
    margin: 0 auto;
    box-shadow: 0px -4px 18px #00000011;
    border-radius: 25px;
    position: relative;
}


.play-btn {
    max-width: 152.73px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.future-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* 
######################################################
Features Section
######################################################
 */
.features-sec {
    padding: 120px 0;
}

/* .features-img {
    max-width: 745px;
} */

.features-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.features-row {
    align-items: center;
}

.features-content ul li {
    display: flex;
    align-items: center;
}


.tick-icon {
    width: 22px;
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.tick-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tick-item {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24/16);
}

.features-content {
    max-width: 508px;
}


.features-content p {
    max-width: 496px;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24/16);
    margin-bottom: 28px;
}

.bottom-space {
    margin-bottom: 17px;
}


.features-content .primary-btn {
    margin-top: 28px;
}





/*
######################################################
Media Queries 
######################################################
*/

@media screen and (max-width: 1200px) {

    /* Navbar Section*/
    .navbar-collapsed {
        /* display: none; */
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        transition: 0.5s linear;
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 60%;
        backdrop-filter: blur(50px);
        z-index: 4;
    }

    .sm-navbar-btn {
        display: flex !important;
        margin-left: auto;
        margin-right: 20px;
    }


    .navbar-collapsed ul {
        flex-direction: column;
        margin: 0 auto;
    }

    .nav-item {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }

    .active {
        color: var(--primary-color) !important;
    }

    .nav-link {
        color: var(--tertiary-color);
    }

    .navbar-btn {
        display: none;
    }


    .menu-bar {
        display: flex;
        /* margin-left: auto; */
        position: relative;
        z-index: 99;
        align-items: center;
    }

    .menu-bar::after {
        content: "";
        position: absolute;
        height: 2.5px;
        width: 30px;
        background: var(--secondary-color);
        left: 0;
        top: 8px;
        transition: 0.5s linear;
    }

    .menu-bar::before {
        content: "";
        position: absolute;
        height: 2.5px;
        width: 30px;
        background: var(--secondary-color);
        left: 0;
        bottom: 8px;
        transition: 0.5s linear;
    }

    .menu-bar span {
        display: inline-block;
        width: 30px;
        height: 2.5px;
        background: var(--secondary-color);
        transition: 0.5s linear;
    }

    #menu:checked~.menu-bar::after {
        display: none;
    }

    #menu:checked~.menu-bar::before {
        transform: rotate(45deg);
        background: var(--tertiary-color);
    }

    #menu:checked~.menu-bar span {
        transform: rotate(-45deg);
        background: var(--tertiary-color);
    }

    #menu:checked~.navbar-collapsed {
        right: 0%;
    }



    /* Support Section */
    .support-content .title-2 {
        font-size: 48px;
    }


    /* Features Section */
    .features-content .title-2 {
        font-size: 45px;
    }

    .features-img {
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 992px) {

    /* Support Section */
    .col-50 {
        width: 100%;
    }

    .support-content {
        max-width: 100% !important;
    }

    .support-content .title-2 {
        max-width: 100%;
    }

    .support-img {
        margin-bottom: 60px;
    }


    /* who We Are Section */
    .who-we-are-sec {
        padding: 120px 0;
    }

    /* Features Section */
    .features-content {
        max-width: 100%;
    }

    .features-content p {
        max-width: 100%;
    }

}


@media screen and (max-width: 768px) {

    /* Navbar Section */
    .sm-navbar-btn .primary-btn {
        padding: 12px 20px;
        margin-left: 16px !important;
        font-size: 12px;
    }

    .sm-navbar-btn .primary-btn {
        letter-spacing: 1px;
    }

    .sm-navbar-btn {
        margin-right: 16px;
    }


    /* Future Section  */
    .future-sec {
        padding: 60px 0;
    }

    /* Features Section */
    .features-sec {
        padding: 60px 0;
    }


}

@media screen and (max-width: 576px) {

    /* Navbar Section */
    .nav-logo a {
        width: 160px;
    }

    .sm-call-icon {
        display: block;
    }


    .sm-txt {
        display: none;
    }



    /* Banner Section */
    .title-1 {
        font-size: 50px;
    }

    .secondary-btn {
        letter-spacing: 1px;
    }

    .primary-btn {
        letter-spacing: 1px;
    }


    /* Support Section */
    .support-sec {
        padding: 80px 0;
    }

    .support-content .title-2 {
        font-size: 30px;
    }


    /* who We Are Section */
    .who-we-are-wrapper::after {
        content: "";
        width: 300px;
        height: 300px;
    }

    .who-we-are-sec .title-2 {
        font-size: 47px;
    }


    /* Future Section  */
    .future-wrapper .title-2 {
        font-size: 48px;
    }

    .play-btn {
        max-width: 92px;
    }


    /* Features Section */
    .tick-icon {
        width: 15px;
    }

    .tick-item {
        font-size: 12px;
    }

}

@media screen and (max-width: 420px) {

    /* Navbar Section */
    .sm-navbar-btn .primary-btn {
        margin-left: 8px !important;
        padding: 10px 12px;
    }

    .sm-navbar-btn {
        margin-right: 10px;
    }

    .nav-logo a {
        width: 135px;
    }

    .sm-navbar-btn {
        margin-right: 8px;
    }



    /* Banner Section */
    .title-1 {
        font-size: 35px;
    }

    .banner-btn .secondary-btn {
        padding: 18px 22px;
        font-size: 13px;
        letter-spacing: 0;
    }

    .banner-btn .primary-btn {
        padding: 18px 22px;
        font-size: 13px;
        letter-spacing: 0;
    }



    /* Support Section */
    .support-img::after {
        content: "";
        width: 300px;
        height: 300px;
    }

    .support-content .sub-title {
        font-size: 12px;
    }

    .support-content .title-2 {
        font-size: 22px;
    }

    .support-content .secondary-btn {
        padding: 20px 24px;
        font-size: 12px;
        letter-spacing: 1.2px;
    }


    /* who-we-are-sec */
    .who-we-are-sec .title-2 {
        font-size: 30px;
    }

    /* Future Section  */
    .future-wrapper .title-2 {
        font-size: 32px;
    }

    /* Features Section */
    .features-content .title-2 {
        font-size: 32px;
    }

    .tick-icon {
        width: 12px;
    }

    .tick-item {
        font-size: 10px;
    }

    .features-content .primary-btn {
        letter-spacing: 0;
    }
}